<ion-row *ngIf="properties">
  <ion-col size="12" *ngFor="let property of properties">
    <ion-card [routerLink]="['/properties', property.id]">
        <ion-img [src]="url + '/' + property.image"></ion-img>
        <ion-card-header class="fullWidth">
          <ion-card-title>{{property.title}}</ion-card-title>
          <div class="priceHeader">
            <span class="price">KES {{property.price.toLocaleString()}}</span> &nbsp;
            <span>{{property.category}}</span>
          </div>
          <ion-card-subtitle>
            <ion-item lines="none" class="sub">
              <span class="loc">
                <ion-icon name="pin"></ion-icon>
                {{property.location}}
              </span>
              <ion-badge slot="end">{{property.type}}</ion-badge>
            </ion-item>
          </ion-card-subtitle>
        </ion-card-header>
    </ion-card>
  </ion-col>
</ion-row>

<div *ngIf="properties && !properties.length" class="ion-padding">
  <p>😀</p>
  <p>No data. Check back later</p>
</div>

<app-skeleton *ngIf="!properties"></app-skeleton>
