<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]=""
        [icon]="arrowRoundBack">
      </ion-back-button>
      <ion-menu-button menu="sideMenu">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Edit your details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding" [formGroup]="editForm" (ngSubmit)="confirm()">
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mobile</ion-label>
      <ion-input type="text"  formControlName="mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>

    <ion-button expand="block" [disabled]="!signUpForm.valid" type="submit">
      Confirm
    </ion-button>
  </form>
</ion-content>
