<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]=""
        [icon]="arrowRoundBack">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding" [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="inline">
        Remember me.
      </ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  
    <ion-button expand="block" [disabled]="!loginForm.valid" type="submit">
      Log in
    </ion-button>
  </form>
</ion-content>
