.eProperty {
  padding: .25em;
  margin: .3em;
  display: grid;
  grid-template-columns: 6em auto;
  grid-auto-columns: auto;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.92); 
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.92);
  border-radius: .3em;

  .eImage {
    width: 6em;
    height: auto;

    img {
      width: 100%;
    }
  }
  .eDetails {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      font-size: 105%;
      font-weight: bolder;
    }

    div {
      display: grid;
      grid-template-areas: 
      'a1 a2'
      'b b';

      article {
        display: flex;
        align-items: center;
        margin-bottom: .4em;

        &:first-child {
          grid-area: a1;
        }
        &:last-child {
          grid-area: a2;
        }
      }

      div {
        border-top: .4px solid var(--ion-color-medium-shade);
        display: flex;
        justify-content: flex-end;
        grid-area: b;
      }
    }
  }
}