<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>My Properties</ion-title>
    <ion-buttons slot="end">
      <app-filter-button></app-filter-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="orders && orders.length" class="ion-padding">
    <article *ngFor="let order of orders" class="eProperty">
      <img src="assets/home.png" class="eImage">
      <div class="eDetails">
        <span class="header">
          <ion-label class="title">{{order.property.title}}</ion-label>
        </span>
        <div class="traits">
          <article>
            <ion-icon name="cash"></ion-icon>
            KES.{{order.price}}
          </article>
          <article>
            <ion-icon name="card"></ion-icon>
            **** {{order.card}}
          </article>
          <article>
            <ion-icon name="pin"></ion-icon>
            {{order.property.location}}
          </article>
        </div>
      </div>
    </article>
  </div>
</ion-content>
