<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>My Properties</ion-title>
    <ion-buttons slot="end">
      <app-filter-button></app-filter-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="properties && properties.length">
    <article *ngFor="let property of properties" class="eProperty">
      <div class="eImage">
        <img [src]="imagesUrl + property.image">
        <app-review-button
          [userId]="loggedUser.id"
          [propertyId]="property.id"
          [actions]="actions">
        </app-review-button>
      </div>
      <div class="eDetails">
        <span class="header">
          <ion-label class="title">{{property.title}}</ion-label>
        </span>
        <div>
          <article>
            <ion-badge>{{property.category.name}}</ion-badge>
          </article>
          <article>
            <ion-icon name="pin" color="danger"></ion-icon>
             {{property.location}}
          </article>
          <div>
            <ion-button color="danger" size="small" expand="block"
              (click)="presentVacateConfirm(property.id)">
              Leave
            </ion-button>
          </div>
        </div>
      </div>
    </article>
  </div>
</ion-content>
