<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="property">{{property.title}}</ion-title>
    <ion-spinner *ngIf="!property" name="dots" slot="end"></ion-spinner>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding custom-skeleton" *ngIf="!property">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>
  <div *ngIf="property">
    <ion-card class="card">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img class="image" [src]="'https://students.njoka.net/ebooking/assets/images/properties/' + property.image"></ion-img>
        </ion-slide>
        <ion-slide *ngIf="property.image1">
          <ion-img class="image" [src]="'https://students.njoka.net/ebooking/assets/images/properties/' + property.image1"></ion-img>
        </ion-slide>
        <ion-slide *ngIf="property.image2">
          <ion-img class="image" [src]="'https://students.njoka.net/ebooking/assets/images/properties/' + property.image2"></ion-img>
        </ion-slide>
        <ion-slide *ngIf="property.image3">
          <ion-img class="image" [src]="'https://students.njoka.net/ebooking/assets/images/properties/' + property.image3"></ion-img>
        </ion-slide>
        <ion-slide *ngIf="property.image4">
          <ion-img class="image" [src]="'https://students.njoka.net/ebooking/assets/images/properties/' + property.image4"></ion-img>
        </ion-slide>
      </ion-slides>
      <ion-item lines="none" class="sub">
        <span class="loc">
          <ion-icon name="pin"></ion-icon>
          {{property.location}}
        </span>
        <ion-badge slot="end">{{property.type}}</ion-badge>
      </ion-item>
    </ion-card>

    <div class="ion-padding-horizontal">
      <ion-button 
        *ngIf="!!loggedUser.token" 
        color="primary" 
        class="orderBtn" 
        expand="block"
        (click)="showCheckoutModal()"
      >Order</ion-button>
      <div class="ratingContainer">
        <ion-text color="primary">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-text>
        <ion-chip class="chipLeft">
          <ion-icon name="cube"></ion-icon>
          <ion-label>{{property.type}}</ion-label>
        </ion-chip>
      </div>
      <div *ngIf="property.description">
        <h5 class="sectionHeader">Description</h5>
        <span [innerHTML]="property.description"></span>
      </div>

      <div class="reviewHeader">
        <h5 class="sectionHeader">Reviews</h5>
      </div>
      <div class="reviewContainer">
        <ion-item *ngIf="!reviews">
          <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="reviews && reviews.length">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <ion-text>Yego Allan</ion-text><br/>
            <ion-text color="primary">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </ion-text>
            <ion-text>
              <p>Breathtaking serene sightings and sauna.</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-text *ngIf="reviews && !reviews.length">No reviews yet</ion-text>
      </div>
    </div>
  </div>
</ion-content>
