<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]=""
        [icon]="arrowRoundBack">
      </ion-back-button>
      <ion-menu-button menu="sideMenu">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Browse properties</ion-title>
    <ion-buttons slot="end">
      <app-filter-button></app-filter-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <app-property-list [properties]="properties"></app-property-list>
  </ion-grid>
</ion-content>
