<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mobile</ion-label>
      <ion-input type="text"  formControlName="mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"  formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start" formControlName="rememberMe" checked="false"></ion-checkbox>
      <ion-label position="inline" class="ion-text-wrap">
        I have read and understood the
        <a href="#">terms and conditions</a>.
      </ion-label>
    </ion-item>

    <ion-button expand="block" [disabled]="!signUpForm.valid" type="submit">
      Sign up
    </ion-button>
  </form>
</ion-content>
