<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form class="ion-padding" [formGroup]="reviewForm">
      <ion-item>
        <ion-label position="floating">Rating</ion-label>
        <ion-input type="text" formControlName="rating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Comment</ion-label>
        <ion-textarea formControlName="comment"></ion-textarea>
      </ion-item>
  
      <ion-button expand="block" [disabled]="!reviewForm.valid" type="submit">
        Post
      </ion-button>
    </form>
</ion-content>
