.fullWidth {
  width: 100% !important;

  .sub {
    padding: 0;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;

    .loc {
      color: #989aa2;
    }
  }

  .priceHeader {
    display: flex;
    padding-top: .3em;
    justify-content: space-between;

    span {
      display: inline-block;
    }

    .price {
      font-weight: bolder;
    }
  }
  .sc-ion-card-md-h.sc-ion-card-md-s.md.ion-activatable.hydrated {
    height: auto;
    width: auto;
  }
}  